pycyphal[transport-can-pythoncan,transport-serial,transport-udp]
sentry-sdk==1.*
pytest
pyserial
setuptools
numpy
pydsdl
pythonnet @ git+https://github.com/pythonnet/pythonnet#master ; sys_platform == "win32"
pyobjc-core; sys_platform == "darwin"
pyobjc-framework-Cocoa; sys_platform == "darwin"
pyobjc-framework-WebKit; sys_platform == "darwin"
PyQt5; sys_platform == "openbsd6" or sys_platform == "linux"
pyqtwebengine; sys_platform == "openbsd6" or sys_platform == "linux"
QtPy; sys_platform == "openbsd6" or sys_platform == "linux"
importlib_resources; python_version < "3.7"
proxy_tools
pywebview[qt]
nox==2022.8.*
pyinstaller==5.3.*
parsimonious