
#messages-list {
    overflow-y: scroll;
    height: calc(74vh);
}
#messages-list textarea {
    display: block;
    list-style: none;
    height: auto;
    width: 99%;
    resize: none;
    border: none;
    height: content-box;
    overflow-y: hidden;
}
#messages-list textarea:focus {
    box-shadow: 0 0 5px #ccc;
}
#divSelectInterface {
    // Vertical flex
    display: block;
}
#divSelectInterface label {
    display: block;
    margin-bottom: 0.5em;
}
#divSelectInterface select {
    display: block;
    width: 100%;
}
#divSelectInterface button {
    display: block;
    margin-bottom: 0.5em;
}
form#interface-selection-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#messages_title {
    margin-top: 3px;
}
#cy {
  width: 100%;
  height:100vh;
  display: block;
}

#split-right {
    min-width: 205px;
    width: 30%;
}

textarea#textOut {
    width: 100%;
}

.options-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    margin-top: 0.5em;
}

.excluded-keywords {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#split-right {
    padding: 0.5em;
}

#taExcludedKeywords {
    height: 100%;
}