* {
    box-sizing: border-box;
}

#messages-list {
    overflow-y: scroll;
    height: calc(74vh);
}

#messages-list textarea {
    display: block;
    list-style: none;
    height: auto;
    width: 99%;
    resize: none;
    border: none;
    height: content-box;
    overflow-y: hidden;
}

#messages-list textarea:focus {
    box-shadow: 0 0 5px #ccc;
}

#divSelectInterface {
    display: block;
}

#divSelectInterface label {
    display: block;
    margin-bottom: 0.5em;
}

#divSelectInterface select {
    display: block;
    width: 100%;
}

#divSelectInterface button {
    display: block;
    margin-bottom: 0.5em;
}

form#interface-selection-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#messages_title {
    margin-top: 3px;
}

#cy {
    width: 100%;
    height: 99%;
    display: block;
}

#split-right {
    min-width: 205px;
    width: 30%;
}

textarea#textOut {
    width: 100%;
}

.options-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    margin-top: 0.5em;
}

.excluded-keywords {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#split-right {
    padding: 0.5em;
}

#taExcludedKeywords {
    height: 100%;
}

#available_configurations_radios {
    margin: 0.5em;
    width: 30em;
    display: grid;
    grid-template-columns: 0.1fr auto;
    grid-gap: 0.5em;
}

.noselect * {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.registers-tab div {
    margin: 0.5em;
}

.block-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.block-display * {
    margin-top: 0.5em;
}

.white-text {
    color: #fff !important;
}

.white-text * {
    color: #fff !important;
}

.white-text~* {
    color: #fff !important;
}

.pair-div:hover {
    background-color: #ccc;
}

.pair-div {
    margin-top: 0.5em;
    padding: 0.25em 2px;
}

.pair-div.incompatible {
    background-color: rgba(255, 0, 0, 0.165);
    color: #fff;
}

#no-refresh-option {
    display: flex;
    align-items: center;
    font-size: 3em;
    position: sticky;
    top: 0;
    left: 0;
}

#no-refresh-option input {
    width: 3em;
    height: 3em;
}

#registers-header {
    position: sticky;
    left: 0px;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    position: relative;
}

#layout {
    display: block;
    flex-grow: 4;
    flex-shrink: 1;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 3em;
    height: 3em;
    background-color: rgb(203, 203, 203);
    border-bottom: 1px solid #000;
    position: relative;
}

#toolbar button {
    border: 1px solid #000;
    border-radius: 0.25em;
    background-color: rgb(135, 135, 135);
    color: #fff;
    font-size: 1.5em;
    padding: 0.25em 0.5em;
    margin: 0.25em;
}

#toolbar button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#toolbar button:active {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 0.25em #000 inset;
    animation: fadeout 0.5s ease-in-out;
}

@keyframes fadeout {
    0% {
        background-color: #000;
        color: #fff;
    }

    50% {
        background-color: rgb(135, 135, 135);
        color: #fff;
    }

    100% {
        background-color: #000;
        color: #fff;
    }
}

button#btnShowHideToolbar {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border: 1px solid #000;
    border-radius: 0.25em;
    background-color: rgb(135, 135, 135);
    color: #fff;
    font-size: 1.5em;
    padding: 0.25em 0.5em;
}

button#btnShowHideToolbar:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button#btnShowHideToolbar:active {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 0.25em #000 inset;
    animation: fadeout 0.5s ease-in-out;
}

button#btnAddAnotherTransport {
    position: absolute;
    top: -0.5em;
    right: 5em;
    border: 1px solid #000;
    border-radius: 0.25em;
    background-color: rgb(135, 135, 135);
    color: #fff;
    font-size: 1.5em;
    padding: 0.25em 0.5em;
    z-index: 1;
}

button#btnAddAnotherTransport:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button#btnAddAnotherTransport:active {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 0.25em #000 inset;
    animation: fadeout 0.5s ease-in-out;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}