/*#monitor2 {*/
/*    !*all: initial;*!*/
/*}*/
/*#monitor2 * {*/
/*    !*all: unset;*!*/
/*}*/
#subscriptions {
    padding: 20px;
    position: relative;
}

#subscriptions .subscription {
    position: relative;
    margin-right: 20px;
}

#monitor2>.node {
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid darkolivegreen;
    background-color: #d5d5d5;
    color: #a33fff;
    padding: 0.5em;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    border-radius: 5px;
    word-break: break-all;
    min-height: fit-content !important;
}

#monitor2>.node.disappeared {
    background-color: #FFE45E;
    color: #FF6392;
}

#monitor2 .line {
    position: absolute;
    background-color: black;
    color: black;
    text-wrap: none;
    height: 100vh;
}

#monitor2 .horizontal_line {
    position: absolute;
    background-color: black;
    color: black;
    text-wrap: none;
}

#monitor2 .circle {
    background-color: black;
}


#monitor2 .subscriber {
    border: 1px solid black;
    background-color: #d5d5d5;
    color: #a33fff;
}

#monitor2 td {
    min-width: 140px;
}

#monitor2 .port_label {
    background-color: black;
    color: white;
    cursor: pointer;
}

#subscriptions-inner-area {
    padding: 10px;
    padding-left: 1em;
    padding-right: 3em;
}

#subscriptions-inner-area>div.subscription {
    margin-top: 0.5em;
    display: block;
    min-width: 300px;
    width: auto;
    max-width: 700px;
}

#subscriptions-inner-area>div.subscription>* {
    margin-top: 2px;
}

#subscriptions-inner-area>div.subscription>h3 {
    font-size: 0.9rem;
}

#subscriptions-inner-area>div.subscription p {
    font-size: 0.9rem;
    display: inline-block;
    word-wrap: normal;
    overflow-wrap: normal;
    width: 100%;
    max-width: 100%;
}

#monitor2>.arrowhead {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: black;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

@media (prefers-color-scheme: dark) {
    #monitor2 .node {
        background-color: darkblue;
        color: white;
    }

    #monitor2 .line {
        background-color: antiquewhite;
        color: antiquewhite;
    }

    #monitor2 .circle {
        background-color: antiquewhite;
    }

    #monitor2 .horizontal_line {
        background-color: antiquewhite;
        color: antiquewhite;
        text-wrap: none;
    }

    #monitor2>.node.disappeared {
        background-color: #524400;
    }

    #monitor2>.arrowhead {
        border-top-color: antiquewhite;
    }
}