#monitor2 {
    all: initial;
}
#monitor2 * {
    all: unset;
}

#monitor2 > .node {
    border: 1px solid darkolivegreen;
    background-color: #d5d5d5;
    color: #a33fff;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    border-radius: 5px;
}

#monitor2 .line {
    background-color: black;
    color: black;
    text-wrap: none;
    height: 100%;
}

#monitor2 .subscriber {
    border: 1px solid black;
    background-color: #d5d5d5;
    color: #a33fff;
}

#monitor2  td {
    min-width: 140px;
}

@media (prefers-color-scheme: dark) {
    #monitor2 .node {
        background-color: darkblue;
        color: white;
    }
    #monitor2 .line {
        background-color: antiquewhite;
        color: antiquewhite;
    }
}